textarea{
    resize: none;
}
.containing{
  width: 100%;
  padding: 5px;
}
#view-table{
  border-collapse: collapse;
  width: auto;
}

#view-table td, #view-table th{
  border: 1px solid #ddd;
  padding: 8px ;
}

#view-table th{
  padding-top: 12px ;
  padding-bottom: 12px ;
  text-align: left ;
  background-color: #07afd9 ;
  text-decoration: none;
  opacity: 0.9;
  color: white;
}

#view-table tr:nth-child(even){background-color: #f2f2f2;}
#view-table tr:hover{background-color: #ddd ;}

#Submit{
  background-color: #04AA6D;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#view-width{
  width: 100%;
  float: left;
}



/*@media screen and (min-width: 992px) {*/
    .body{
        background-color: #87ceeb ;
        padding : 10px;
        padding-left: 20px ;
        padding-right: 20px ;
        text-align: center;
        border-radius: 20px ;
        margin-left : 30% ;
        margin-right: 30% ;
        margin-bottom: 20px ;
        width: 40% ;
    }
    .content select ,.content input{
        width: 50% ;
        margin : 5px 0 ;
        margin-left: 25% ;
        margin-right: 25% ;
    }
    .content h1{
        width:  70% ;
        margin: 5px 0 ;
        margin-left: 15% ;
        margin-right: 15% ;
        font-weight: 900 ;
        font-size: 40px;
        display: inline-block;
        margin : 15px 0;
    }
    .content select{
        height: 25px ;
    }
    .content input[type="submit"] {
        background-color: #4b8cfb ;
        height: 30px ;
        border: none;
        border-radius: 12px ;
    }
    .content input[type="submit"]:hover {
        background-color : #2c5db0 ;
    }
    
/*}*/